
<h1>ASHOK IT Company</h1>

<h2>Employees List Page</h2>

<table>

<thead>

    <tr>
        <td>EmployeeId</td>
        <td>EmployeeName</td>
        <td>Gender</td>
        <td>Title</td>
        <td>Salaray</td>
        <td>Department</td>
        <td>DOB</td>
        <td>Address</td>
    </tr>
</thead>


<tbody>

    <tr *ngFor="let emp of employees;trackBy:trackByEmpCode;let i=index">

        <td>{{emp.empid}}</td>
        <td>{{emp.empname}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.title}}</td>
        <td>{{emp.salary}}</td>
        <td [ngSwitch]="emp.department">
        <span *ngSwitchCase="1"> HR </span>
        <span *ngSwitchCase='2'> IT </span>
        <span *ngSwitchCase="3"> Finance </span>
        <span *ngSwitchCase="4"> Security </span>
        <span *ngSwitchDefault> Others </span>
        </td>
        <td>{{emp.dob}}</td>
        <td>{{emp.address}}</td>
        
    </tr>
</tbody>

</table>

<br><br>

<button (click)="getLatestData()"> ReLoad Employees </button>