<!--
<h1>FIRST NAME:{{firstName|uppercase}}</h1>
<br><br>
<h1>LAST NAME:{{getLastName()}}</h1>
<br><br>
<h1>Date :{{date}}</h1>

<input type="text" placeholder="course name" #inputVal>

<button id="btn" [disabled]="controlFlag" (click)="diplayCourse(inputVal.value)">click here</button>

<h1>Class status:{{classStatus}}</h1>


<p>TWO WAY DATABINDING : <input type="text" [(ngModel)]="example"> </p>

<h1>string is {{example}}</h1>

-->


<!-- <app-visiting-card>

</app-visiting-card> -->

<!-- <app-second>

</app-second> -->

<!-- <app-third userName="jayanth" [userAge]="10" userAddress="kurnool" userGender="male" userName1="yash" [userAge1]="20"
  userGender1="female" userAddress1="khammam">

</app-third> -->

<app-fifth>


</app-fifth>