<h1>Default Pipes in Angular </h1>

<h2>Upper Case Pipe ===> {{var_one |uppercase}} </h2>
<h2>Lower Case Pipe ===> {{var_two |lowercase}} </h2>
<h2>Title Case Pipe ===> {{var_three |titlecase}} </h2>
<h2>Original Number ==> {{var_four}}</h2>
<h2>Number Pipe ===> {{var_four | number:"3.2-4"}}</h2>
<h2>Number Pipe ===> {{var_four | number:"4.1-2"}}</h2>

<h2>jay test===>{{var_four|number:"4.3-5"}}</h2>


<h2> Currency Pipe ==> {{var_five | currency }}</h2>
<h2> INDIAN Currency Pipe ==> {{var_five | currency:"INR" }}</h2>
<h2> EURO Currency Pipe ==> {{var_five | currency:"EUR" }}</h2>
<h2> POUND Currency Pipe ==> {{var_five | currency:"GBP" }}</h2>
<h2>Chinese currecy pipe ==> {{100|currency:"CNY"}}</h2>

<h2>jay date test</h2>
<h2>Default date ==> {{var_six}}</h2>
<h2>f1==>{{var_six|date:"dd-MM-yy"}}</h2>
<h2>f2==>{{var_six|date:"dd-MMM-yyyy"}}</h2>
<h2>f3==>{{var_six|date:"short"}}</h2>
<h2>f4==>{{var_six|date:"medium"}}</h2>
<h2>f3==>{{var_six|date:"fullDate"}}</h2>
<h2>jay test ends</h2>
<h2>Default Date ===> {{var_six}} </h2>
<h2>Date Pipe Format 1 ==> {{var_six | date:"dd-MM-yy"}} </h2>
<h2>Date Pipe Format 2 ==> {{var_six | date:"dd-MMM-yyyy"}} </h2>
<h2>Short Date Format ==> {{var_six | date:"short"}} </h2>
<h2>Medium Date Format ==> {{var_six | date:"medium"}} </h2>
<h2>Full Date Format ==> {{var_six | date:"fullDate"}} </h2>


<h2>JSON Data ==> {{var_seven|json}}</h2>


<h2>Reverse Date ==> {{var_eight|reverse}}</h2>