<p>first works!</p>

<h1>i am first component brooo</h1>


<app-second>

</app-second>

<button [disabled]="controlFlag">

  click here
</button>


<button (click)="toggle()">

  toogle

</button>

<div>

  <label for="subject">Subject:</label>
  <input type="text" name="subject" id="subject" #subject>
</div>

<button (click)="display(subject.value)">display subject name</button>

<h1>subject name is : {{subjectName}}</h1>

<label for="guest">Guest Name:</label>
<input type="text" id="guest" [(ngModel)]="guestName">
<h1>Guest Name is :{{guestName}}</h1>