<!-- <app-visitingcard name="jayanth kumar garu"></app-visitingcard> -->
<!-- <app-visitingcard [name]='username'></app-visitingcard> -->
<!-- <app-visitingcard [inputJson]='userInput'></app-visitingcard> -->


<!-- <app-defaultpipe>

</app-defaultpipe> -->


<app-emp-details>

</app-emp-details>


<!-- <app-student-details>

</app-student-details> -->

<!-- <app-student-details stuName="jayanth" stuAge="20" gender="male" dept=1>


</app-student-details> -->

<!-- <app-student-details stuName="jayanth" [stuAge]="20" gender="male" [dept]="1" stuName2="yashwanth gaaru" [stuAge2]="25"
  gender2="female" [dept2]="2"> -->

<!--
<p appBasichighlight>
  hii
</p>

<span appBasichighlight>
  hii
</span>

<h1 appBasichighlight>

  hello sir how r u
</h1>
-->

<!--
<h1 appRender>hiiii i am jayanth with rendere2</h1>

<p appRender>hiiii i am jayanth with rendere2</p>

-->

<!--
<h1 appListener>

  mouse events brooo
</h1>

-->

<!--
<h1 appHostbinding [hoverColor]="'green'" [removeColor]="'blue'">

  hello bayya
</h1>

<p appHostbinding [hoverColor]="'pink'" [removeColor]="'red'">
  bye brroo
</p>

-->